@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Roboto', sans-serif;
}

a,
p,
h1,
h2,
h3 .poppins {
  font-family: 'Poppins', sans-serif;
}

.section-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --tw-text-opacity: 1;
  color: rgb(241 126 184 / var(--tw-text-opacity));
  padding: 0.5rem 1rem;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
}